{{template "base" .}}

{{define "content"}}
<h1>This is the about page</h1>
<p>this is some text</p>
<p>this is some LESS text</p>
{{/* index is the method used to look data up that has an index */}}
{{/* the . refers to all the data that is passed to the template via StringMap */}}
{{/* "test" is the key for the value we like to get here */}}
<p>This came from the template: {{index .StringMap "test"}}</p>
<br />
<a href="/">home</a>
<p>
  {{if ne (index .StringMap "remote_ip") ""}}
  Your remote IP adress is {{index .StringMap "remote_ip"}}
  {{else}}
  I don't know your IP address yet. Visit the home page so I can set it.
  {{ end }}
</p>

{{ end }}
