<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Go Course Project</title>
    <link rel="stylesheet" href="../static/styles/index.css" />
  </head>
  <body>
    <nav class="topnav">
      <a class="link" href="/">Home</a>
      <a class="link" href="/about">About</a>
      <select name="rooms" id="roomselect">
        <option class="label" value="" disabled>Select a room</option>
        <option class="link" value="generals-quarters">
          General's Quarters
        </option>
        <option class="link" value="majors-Suite">Major's Suite</option>
      </select>
      <a class="link" href="/contact">Contact</a>
    </nav>
    <section class="main">
      <h1>Welcome to our BnB</h1>
      <a href="/make-reservation">Make Reservation now</a>
    </section>
  </body>
</html>
