<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Go Course Project</title>
    <link rel="stylesheet" href="../static/styles/index.css" />
  </head>
  <body>
    <nav class="topnav">
      <a class="link" href="/">Home</a>
      <a class="link" href="/about">About</a>
      <a class="link" href="/generals">General's Quarters</a>
      <a class="link" href="/majors">Major's Suite</a>
      <a class="link" href="/contact">Contact</a>
    </nav>
    <section class="main">
      <h1>Make a reservation</h1>
      <h4>Search for availability</h4>
      <form class="reservation-form" action="/reservation.html" method="get">
        <label for="starting-date">Check-In</label>
        <input id="starting-date" name="start_date" type="date" />
        <label for="ending-date">Checkout</label>
        <input id="ending-date" name="end_date" type="date" />
        <button type="submit">Check availability</button>
      </form>
    </section>
  </body>
</html>
