<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Go Course Project</title>
    <link rel="stylesheet" href="../static/styles/index.css" />
  </head>
  <body>
    <nav class="topnav">
      <a class="link" href="/">Home</a>
      <a class="link" href="/about">About</a>
      <a class="link" href="/generals">General's Quarters</a>
      <a class="link" href="/majors">Major's Suite</a>
      <a class="link" href="/contact">Contact</a>
    </nav>
    <section class="main">
      <h1>Make a reservation</h1>
    </section>
  </body>
</html>
